BasedOnStyle: LLVM
IndentWidth: 2
UseTab: ForIndentation
TabWidth: 2
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
BreakBeforeBraces: Allman
PointerAlignment: Left
SortIncludes: true
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: All
EmptyLineBeforeAccessModifier: Never
KeepEmptyLinesAtTheStartOfBlocks: false
