Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  misc-*,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file
